// <<<<<<< homepage
button {
    padding: 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #4975b0;
    color: rgb(210, 194, 50);
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #48734f;
}

nav {
    text-align: center;
}


.header-box {
    background-color: rgb(47, 11, 193); /* Adjust the background color and opacity */
    padding: 20px;
    border-radius: 15px; /* Adjust the border-radius for rounded edges */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional: Add a box shadow for depth */
    position: fixed;
    top: 20px;
    left: 20px;
}

h1 {
    color: #c1ca0a;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
    font-size: 70px;
    padding: 50px 0;
    text-align: center;
}


body {
    background-color: #f8f4a5;
    background-image: url(cartoon_landscape.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
    text-align: center;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

p {
    font-size: 50px;
    line-height: 1.7;
    margin-bottom: 80px;
}
 // =======
html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
// >>>>>>> main
